.App {
  text-align: center;
}

.body {
    margin: 0;
}

.thcd {
  display: flex;
}

div#thcSearchBar {
  margin: 0px 12px;
}

div#distributionView {
  /* display: flex;
  flex-flow: column; */
  margin: 12px;
  height: 76vh;
}

div#distributionView div {
  /* flex: 1 1 auto; */
  background-color: #f0f0f0;
}

.thcd div#footer {
  height: 40px;
  text-align: center;
  font-family: roboto;
  color: #ccc;
  background-color: #ccccff;
}
