.App {
  text-align: center;
}

.body {
    margin: 0;
}

.thcd {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.div#theView {
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: #fcc;
  height: 100%;
}

.div#theAppBar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.div#addView {
  margin: 12px;
  background: #ccf;
}

div#thcSearchBar {
  margin: 0px 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  flex: 0 1 auto;
}

div#distributionView {
  margin: 12px;
  flex-shrink: 1;
  flex-grow: 10;
  flex-basis: auto;
  height: 54vh;
}

div#distributionView div {
  background-color: #f5f5f5;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
}
