.App {
  text-align: center;
}

.body {
    margin: 0;
}

.thcd {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

div#thcSearchBar {
  margin: 0px 12px;
  flex: 0 1 auto;
}

div#distributionView {
  margin: 12px;
  flex: 1 0 auto;
  height: 10vh;
}

div#distributionView div {
  flex: 1 0 auto;
  background-color: #f5f5f5
}

.thcd div#footer {
  flex: 0 1 auto;
  text-align: center;
  height: 24px;
  width: 100%;
  padding-top: 12px;
  font-size: 12px;
  font-family: roboto;
  color: #616161;
  margin: auto;
}
