.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.body {
    margin: 0;
}

.Tcd-header {
  background-color: #786;
  /* height: 42px; */
  color: white;
  vertical-align: center;
}

.Tcd-header h2 {
    font-size: 4.8vw;
    padding: 12px 12px;
    margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
