.App {
  text-align: center;
}

.body {
    margin: 0;
}

div#thcSearchBar {
  margin: 0px 12px;
}

div#distributionView {
  /* display: flex;
  flex-flow: column; */
  margin: 12px;
  height: 76vh;
}

div#distributionView div {
  /* flex: 1 1 auto; */
  background-color: #f4f4f4;
}
